---
http_interactions:
- request:
    method: get
    uri: https://data.mtgox.com/api/2//BTCUSD/money/ticker_fast
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","data":{"last_local":{"value":"714.00000","value_int":"71400000","display":"$714.00","display_short":"$714.00","currency":"USD"},"last":{"value":"714.00000","value_int":"71400000","display":"$714.00","display_short":"$714.00","currency":"USD"},"last_orig":{"value":"714.00000","value_int":"71400000","display":"$714.00","display_short":"$714.00","currency":"USD"},"last_all":{"value":"714.00000","value_int":"71400000","display":"$714.00","display_short":"$714.00","currency":"USD"},"buy":{"value":"698.96843","value_int":"69896843","display":"$698.97","display_short":"$698.97","currency":"USD"},"sell":{"value":"709.00000","value_int":"70900000","display":"$709.00","display_short":"$709.00","currency":"USD"},"now":"1387331979178379"}}'
  recorded_at: Wed, 18 Dec 2013 01:59:51 GMT
recorded_with: VCR 2.8.0
