---
http_interactions:
- request:
    method: get
    uri: https://data.mtgox.com/api/2//BTCUSD/money/ticker_fast
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"result":"success","data":{"last_local":{"value":"695.00000","value_int":"69500000","display":"$695.00","display_short":"$695.00","currency":"USD"},"last":{"value":"695.00000","value_int":"69500000","display":"$695.00","display_short":"$695.00","currency":"USD"},"last_orig":{"value":"695.00000","value_int":"69500000","display":"$695.00","display_short":"$695.00","currency":"USD"},"last_all":{"value":"695.00000","value_int":"69500000","display":"$695.00","display_short":"$695.00","currency":"USD"},"buy":{"value":"690.20000","value_int":"69020000","display":"$690.20","display_short":"$690.20","currency":"USD"},"sell":{"value":"695.00000","value_int":"69500000","display":"$695.00","display_short":"$695.00","currency":"USD"},"now":"1387330547253059"}}'
  recorded_at: Wed, 18 Dec 2013 01:35:52 GMT
recorded_with: VCR 2.8.0
