<div class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">
				<img src="twitter-logo.png" height="50" width="50">
				<span>TipperCoin</span>
			</a>
		</div>
		<div class="navbar-collapse collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="https://www.github.com/BitcoinMafia/twittercoin">
						<i class="fa fa-code"></i>
						<span>Source Code</span>
					</a>
				</li>
				<li
					ng-class="{'active': global.isActive('/how-it-works/')}">
					<a href="#/how-it-works">
						<i class="fa fa-info-circle"></i>
						<span>How It Works</span>
					</a>
				</li>
				<li
					ng-class="{'active': global.isActive('/profile/')}"
					ng-show="global.signedIn">
					<a href="#/profile/">
						<i class="fa fa-user"></i>
						<span>Profile</span>
					</a>
				</li>
				<li
					ng-class="{'active': global.isActive('/account/')}"
					ng-show="global.signedIn">
					<a href="#/account">
						<i class="fa fa-cog"></i>
						<span>Account</span>
					</a>
				</li>
				<li
					ng-show="global.signedIn">
					<a href="/signout">
						<i class="fa fa-twitter"></i>
						<span>Sign Out</span>
					</a>
				</li>
				<li
					ng-show="!global.signedIn">
					<a href="/auth/twitter">
						<i class="fa fa-twitter"></i>
						<span>Sign In</span>
					</a>
				</li>
			</ul>
		</div><!-- /.nav-collapse -->
	</div>
</div>
