<br>
<div class="row">
  <div class="col-md-offset-5 text-center">
    <spin ng-show="!shown"></spin>
  </div>
</div>
<div class="account" ng-show="shown">
  <div class="row">
    <tabset type="'pills'">
      <tab heading="Deposit">
        <br><br>
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <blockquote ng-show="account.messages.welcome">
              <p class="lead lead-super">
                Welcome <span class="">@{{account.screenName}}</span>, a unique Bitcoin Address has been created for you. This address will be your tipping account from now on.
              </p>
            </blockquote>
            <blockquote ng-show="account.messages.deposit">
              <p class="lead lead-super">
                Activate your account by deposting <span class='text-primary'><strong>>= {{account.deposit.amount}} BTC</strong></span>
              </p>
            </blockquote>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-3 col-md-offset-1">
            <div id="qrcode" qrcode="{{account.address}}"></div>
          </div>
          <div class="col-md-7">
            <h2 class='unique-address'>{{account.address}}</h2>
          </div>
        </div>

      </tab>
      <tab heading="Withdraw">
        <br><br>
        <div class="col-md-8 col-md-offset-2">
          <blockquote ng-show="account.messages.withdraw.default">
            <p class="lead lead-super text-center">
              Please specify the Bitcoin address you'd like to withdraw to.
            </p>
          </blockquote>
          <blockquote ng-show="account.messages.withdraw.success">
            <p class="lead lead-super text-center text-success">
              Congratulations, you have successfully withdrawn {{withdraw.amount}} BTC
            </p>
          </blockquote>
          <blockquote ng-show="account.messages.withdraw.error">
            <p class="lead lead-super text-center text-primary">
              Sorry, something went wrong. Please contact support@tippercoin.com
            </p>
          </blockquote>
          <form
            name="withdrawForm"
            class="form-horizontal"
            ng-submit="submitWithdraw()"
            novalidate>

            <div class="row error-messages">
              <div class="col-sm-10 col-sm-offset-2">
                <div ng-show="withdrawForm.toAddress.$error.notBase58">
                  Not a valid Bitcoin Address
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="lead lead-super col-sm-2 control-label">Address</label>
              <div class="col-sm-10">
                <input
                  tabindex="1"
                  name="toAddress"
                  type="text"
                  class="square form-control"
                  ng-model="withdraw.toAddress"
                  validate-address="withdraw">
              </div>
            </div>
            <br><br>
            <div class="row error-messages">
              <div class="col-sm-10 col-sm-offset-2">
                <div ng-show="withdrawForm.amount.$error.min">
                  Must be above 0.0001 BTC
                </div>
                <div ng-show="withdrawForm.amount.$error.max">
                  Not enough in balance (incl. Miner Fees)
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="lead lead-super col-sm-2 control-label">Amount</label>
              <div class="col-sm-10">
                <input
                  tabindex="2"
                  class="square form-control"
                  name="amount"
                  type="number"
                  ng-model="withdraw.amount"
                  min="0.0001"
                  max="{{(account.balance - account.minerFee).toFixed(8)}}"
                  required
                  >
              </div>
            </div>
            <br><br>
            <div class="form-group">
              <div class="col-sm-1 col-sm-offset-1">
                <spin size="small" ng-show="sending"></spin>
              </div>
              <div class="col-sm-10">
                <button
                  type="submit"
                  ng-disabled="withdrawForm.$invalid || sending"
                  class="btn btn-primary btn-lg square">
                  WITHDRAW
                </button>
                <small>
                  +<i class="fa fa-bitcoin fa-small"></i> {{(account.minerFee)}} Miner Fees
                </small>
              </div>
            </div>
            <div class="row error-messages">
              <div class="col-sm-10 col-sm-offset-2">
                <div ng-show="withdrawFailed">
                  Withdraw failed, please contact support@tippercoin.com
                </div>
              </div>
            </div>
          </form>
        </div>

      </tab>
      <p class="lead balance pull-right">
        <span>Balance:</span>
        <strong class='text-success'>{{account.balance}} BTC</strong>
      </p>
    </tabset>
  </div>
</div>
