<br>
<!-- <flash></flash> -->
<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<br>
		<div class="text-center">
			<a href="#">
				<img src="https://pbs.twimg.com/profile_images/3580641456/82c873940343750638b7caa04b4652fe.jpeg">
			</a>
		</div>
	</div>
	<div class="col-md-4">
		<h1 class='text-center'>
			<span><a href="#">@fredwilson</a></span>
			<span class="label label-success square label-small">
				ACTIVATED
			</span>
		</h1>
		<br>
		<blockquote>
			<p class="lead">Lead Developer, The Bitcoin Project. All-around geek.</p>
		</blockquote>
		<div class="row">
			<div class="col-md-6">
				<div class='h3 text-muted'><strong>TIPS RECEIVED:</strong></div>
			</div>
			<div class="col-md-6">
				<p class='lead text-success'>0.0001 BTC</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class='h3 text-muted'><strong>TIPS GIVEN:</strong></div>
			</div>
			<div class="col-md-6">
				<p class='lead text-primary'>0.0114 BTC</p>
			</div>
		</div>
	</div>
</div>
<br><br>
<div class="row">
	<h2 class='text-center text-muted'>Recent Tips</h2>
	<table class="table"></table>
</div>
