<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<!-- Enabled via param -->
		<!-- <flash></flash> -->
	</div>
</div>
<h1 class='text-center username'>
	<a href="#">@{{profile.screenName}}</a>
	<span class="label label-success square label-small">
		AUTHENTICATED
	</span>
</h1>
<br>
<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<br>
		<div class="text-center">
			<a href="#">
				<img src="{{profile.avatarLarge}}" height="256" width="256">
			</a>
		</div>
	</div>
	<div class="col-md-6 text-center key-info">
		<br>
		<blockquote>
			<p class="lead">{{profile.description}}</p>
		</blockquote>
		<div class="row">
			<div class="col-md-6">
				<div class='h2 text-muted pull-left'><strong>TIPS RECEIVED:</strong></div>
			</div>
			<div class="col-md-4">
				<p class='h2 text-success'>0.0001 BTC</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class='h2 text-muted pull-left'><strong>TIPS GIVEN:</strong></div>
			</div>
			<div class="col-md-4">
				<p class='h2 text-primary'>0.0114 BTC</p>
			</div>
		</div>
	</div>
</div>
<br><br><br>
<h1 class='text-center text-muted'>RECENT TIPS</h1>
<br>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table class="table thead-center">
			<thead>
				<tr>
					<th>FROM</th>
					<th></th>
					<th>TO</th>
					<th>AMOUNT</th>
					<th>TWEET</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class='text-center' ng-repeat="i in [1, 2, 3]">
					<td>
						<a class='no-decorate' href="#">
							<p class="lead">
								<img src="https://pbs.twimg.com/profile_images/3580641456/82c873940343750638b7caa04b4652fe_normal.jpeg">
								<span class="label label-yellow label-large square">
									<strong>@fredwilson</strong>
								</span>
							</p>
						</a>
					</td>
					<td>
						<p class="lead">
							<a href="#" class='text-primary'>
								<i class="fa fa-arrow-circle-o-right fa-lg"></i>
							</a>
						</p>
					</td>
					<td>
						<a class='no-decorate' href="#">
							<p class="lead">
								<img src="https://pbs.twimg.com/profile_images/1284666062/GavinAndresen_normal.jpg">
								<span class="label label-default label-thin label-large square">
									@gavinandresen
								</span>
							</p>
						</a>

					</td>
					<td>
						<p class="lead text-success">
							<span class="text-primary">0.0051 BTC</span>
							<span class="text-muted">
								<small>/1 beer</small>
							</span>
						</p>
					</td>
					<td>
						<a class='text-muted' href="">
							<p class="lead twitter-button">
								<i class="fa fa-twitter"></i>
							</p>
						</a>
					</td>
					<td></td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
<br><br><br><br>
