<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<!-- Enabled via param -->
		<!-- <flash></flash> -->
	</div>
</div>
<h1 class='text-center username'>
	<a href="#">@{{profile.screenName}}</a>
	<span ng-show="profile.authenticated" class="label label-success square label-small">
		AUTHENTICATED
	</span>
	<span ng-show="!profile.authenticated" class="label label-danger square label-small">
		PENDING
	</span>
</h1>
<br>
<div class="row">
	<div class="col-md-4 col-md-offset-1">
		<br>
		<div class="text-center">
			<a href="#">
				<img src="{{profile.avatarLarge}}" height="256" width="256">
			</a>
		</div>
	</div>
	<div class="col-md-6 key-info">
		<br>
		<blockquote>
			<p class="lead">{{profile.description}}</p>
		</blockquote>
		<div class="row">
			<div class="col-md-6">
				<div class='h2 text-muted pull-left'><strong>TIPS RECEIVED:</strong></div>
			</div>
			<div class="col-md-4">
				<p class='h2 text-success'>{{profile.totalTipsReceived}} BTC</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class='h2 text-muted pull-left'><strong>TIPS GIVEN:</strong></div>
			</div>
			<div class="col-md-4">
				<p class='h2 text-primary'>{{profile.totalTipsGiven}} BTC</p>
			</div>
		</div>
	</div>
</div>
<br><br><br>
<h1 class='text-center text-muted'>RECENT TIPS</h1>
<br>
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<table class="table thead-center">
			<thead>
				<tr>
					<th>FROM</th>
					<th></th>
					<th>TO</th>
					<th>AMOUNT</th>
					<th>TWEET</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class='text-center' ng-repeat="tip in profile.tips">
					<td>
						<a class='no-decorate' href="#">
							<p class="lead">
								<img ng-src="{{tip.sender.avatarSmall}}">
								<span class="label label-{{tip.sender.css}} label-large square">
									<strong>@{{tip.sender.screenName}}</strong>
								</span>
							</p>
						</a>
					</td>
					<td>
						<p class="lead">
							<a href="https://blockchain.info/tx/{{tip.txHash}}" class='text-{{tip.txDirection}}'>
								<i class="fa fa-arrow-circle-o-right fa-lg tx-direction"></i>
							</a>
						</p>
					</td>
					<td>
						<a class='no-decorate' href="#">
							<p class="lead">
								<img ng-src="{{tip.recipient.avatarSmall}}">
								<span class="label label-{{tip.recipient.css}} label-thin label-large square">
									@{{tip.recipient.screenName}}
								</span>
							</p>
						</a>

					</td>
					<td>
						<p class="lead text-success">
							<span class="text-primary">{{tip.amount}} BTC</span>
							<span class="text-muted" ng-show="tip.other.presence">
								<small>/{{tip.other.amount}} {{tip.other.unit}}</small>
							</span>
						</p>
					</td>
					<td>
						<a class='text-muted' href="{{tip.tweetLink}}">
							<p class="lead twitter-button">
								<i class="fa fa-twitter"></i>
							</p>
						</a>
					</td>
					<td></td>
				</tr>
			</tbody>

		</table>
	</div>
</div>
<br><br><br><br>
