/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require font-awesome
 *= require profile
 *= require account

 *= require_self
 */


/*CUSTOM CSS*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar-brand {
	padding-bottom: 0px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.twitter-blue {
	color: #00aced;
}

.twitter-blue-dark {
	color: #0084b4;
}

.btn:focus {
	outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.error-messages {
	min-height: 25px;
	color: #b94a48;
}

input.ng-dirty.ng-invalid {
	border-color: #b94a48;
	-webkit-box-shadow: none;
	box-shadow: none;
}

input.ng-dirty.ng-valid {
	border-color: #22b24c;
	-webkit-box-shadow: none;
	box-shadow: none;
}

img {
	border: none;
}

h1.h1-title {
	font-size: 69px;
}

.lead-main-tweet {
	font-size: 32px;
}

.light {
	font-weight: 200;
}

.triangle {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #0084b4;
	margin: 0 auto;
}
