/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */


/*CUSTOM CSS*/

[ng-cloak] {
	display: none;
}

.navbar-brand {
	padding-bottom: 0px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.label-small {
	font-size: 14px;
	vertical-align: middle;
}

.label-large {
	font-size: 22px;
	text-decoration: none;
}

.no-decorate {
	text-decoration: none;
}

.no-decorate:hover {
	text-decoration: none;
}

a.text-muted:hover {
	color: #999999;
}

.table.thead-center thead tr th {
	text-align: center;
}

.table .lead {
	margin-top: 20px;
	margin-bottom: 20px;
}

.label-link {
	background-color: #3a87ad;
}

.twitter-button:hover {
	color: #3a87ad;
}

.text-yellow {
	color: #e7d70b;
}
