<!DOCTYPE html>
<html ng-app="tcApp">
<head>
  <title>Twittercoin</title>
  <%= stylesheet_link_tag    "application", media: "all"%>

  <%= csrf_meta_tags %>

  <meta name="description" content="Send Bitcoins over Twitter">
  <meta name="og:description" content="Send Bitcoins over Twitter">
  <meta name="keywords" content="bitcoin, twitter" />

  <meta property="og:title" content="TipperCoin | Send Bitcoins over Twitter">
  <meta property="og:url" content="http://tippercoin.com/">
  <meta property="og:image" content="http://TODO/" />
  <script type="text/javascript">
    var signedIn = <%= User.find_by(slug: session[:slug]) ? true : false %>
  </script>
  <!-- GA ANALYTICS -->

</head>
<body ng-cloak>
	<navbar></navbar>
	<div class="container" ng-view></div>


  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <%= javascript_include_tag "application" %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
