---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=@recipient
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="pqglTrHV4p3ZpR5SwlYmNw", oauth_nonce="95b18ff8cac73aeb4b25c7ecbab1ea49",
        oauth_signature="GB1okc2nwk6031szS95tReoO3Eo%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1387432830", oauth_token="2247759402-398tcaxEleVNtRY8jRQ6iF2MErB4DCPGdGftoiM",
        oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 19 Dec 2013 06:00:31 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1387433108'
      X-Transaction:
      - 9849c02c79459032
    body:
      encoding: UTF-8
      string: '{"id":18050298,"id_str":"18050298","name":"recipient collective","screen_name":"recipient","location":"Collaboratoy","description":"video
        mapping, interaction desing, sound design, w4kdevs","url":"http:\/\/t.co\/HuNIZ345lZ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/HuNIZ345lZ","expanded_url":"http:\/\/recipient.cc","display_url":"recipient.cc","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":98,"friends_count":157,"listed_count":1,"created_at":"Thu
        Dec 11 16:07:19 +0000 2008","favourites_count":1,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":459,"lang":"en","status":{"created_at":"Wed
        Dec 18 17:39:32 +0000 2013","id":413362909142863872,"id_str":"413362909142863872","text":"RT
        @ed_eleuthera: ultimi preparativi per la #festa di #inverno! redazione aperta
        #vinorosso #bellagente e #musica by @recipient ! http:\/\/t.\u2026","source":"\u003ca
        href=\"http:\/\/sites.google.com\/site\/yorufukurou\/\" rel=\"nofollow\"\u003eYoruFukurou\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Wed
        Dec 18 15:55:35 +0000 2013","id":413336751394922496,"id_str":"413336751394922496","text":"ultimi
        preparativi per la #festa di #inverno! redazione aperta #vinorosso #bellagente
        e #musica by @recipient ! http:\/\/t.co\/lBD4JePS2N","source":"web","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":6,"favorite_count":0,"entities":{"hashtags":[{"text":"festa","indices":[26,32]},{"text":"inverno","indices":[36,44]},{"text":"vinorosso","indices":[63,73]},{"text":"bellagente","indices":[74,85]},{"text":"musica","indices":[88,95]}],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"recipient","name":"recipient
        collective","id":18050298,"id_str":"18050298","indices":[99,109]}],"media":[{"id":413336751403311104,"id_str":"413336751403311104","indices":[112,134],"media_url":"http:\/\/pbs.twimg.com\/media\/Bbx3leACIAAQO5u.jpg","media_url_https":"https:\/\/pbs.twimg.com\/media\/Bbx3leACIAAQO5u.jpg","url":"http:\/\/t.co\/lBD4JePS2N","display_url":"pic.twitter.com\/lBD4JePS2N","expanded_url":"http:\/\/twitter.com\/ed_eleuthera\/status\/413336751394922496\/photo\/1","type":"photo","sizes":{"small":{"w":340,"h":240,"resize":"fit"},"medium":{"w":600,"h":423,"resize":"fit"},"thumb":{"w":150,"h":150,"resize":"crop"},"large":{"w":1024,"h":722,"resize":"fit"}}}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"it"},"retweet_count":6,"favorite_count":0,"entities":{"hashtags":[{"text":"festa","indices":[44,50]},{"text":"inverno","indices":[54,62]},{"text":"vinorosso","indices":[81,91]},{"text":"bellagente","indices":[92,103]},{"text":"musica","indices":[106,113]}],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"ed_eleuthera","name":"eleuthera","id":592684343,"id_str":"592684343","indices":[3,16]},{"screen_name":"recipient","name":"recipient
        collective","id":18050298,"id_str":"18050298","indices":[117,127]}]},"favorited":false,"retweeted":false,"lang":"it"},"contributors_enabled":false,"is_translator":false,"profile_background_color":"D6E1E1","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/3577377\/Picture_5.png","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/3577377\/Picture_5.png","profile_background_tile":true,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/378800000860372296\/7AS0fiOo_normal.png","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/378800000860372296\/7AS0fiOo_normal.png","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/18050298\/1386803514","profile_link_color":"7896A1","profile_sidebar_border_color":"ABABAB","profile_sidebar_fill_color":"C4D1BD","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false}'
  recorded_at: Thu, 19 Dec 2013 06:00:31 GMT
recorded_with: VCR 2.8.0
